/* 样式重置 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, main {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
a{
    -webkit-tap-highlight-color:transparent;
    color: #000;
    text-decoration: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* 样式重置结束 */

.header{
    position: fixed;
    height: 50px;
    width: 100%;
    z-index: 2;
    top: 0;
    left: 0;
    background-color:#000;
    display: flex;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content:space-between;
    align-items:center;
    align-content:center;
}
.header-hiddened{
    top: -50px;
    transition: top .5s;
}
.header-showed{
    top:0;
    z-index: 9999;
    transition: top .5s;
}


.header .icon-logo{
    height: 26px;
    margin-left: 10px;
}

.header .tel-us{
    display: flex;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content:left;
    align-items:center;
    align-content:center;
    color: #fff;
}
.header .tel-us img{
    width: 20px;
    height: 20px;
    margin-right:2px;
}
.header .tel-us span{
    font-size: 14px;
    margin-right: 10px;
}

.main-content{
    padding: 50px 0;
}
.top-banner{

}
.top-banner img{
    width: 100%;
    height: 170px;
}

.top-nav{
    color: #FFF;
    font-size: 13px;
    margin-top: -3px;
    widows: 100%;
    padding: 5px 0;
    height: 70px;
    background-color: #EC2C2A;
    display: inline;
    display: -webkit-box;    
    -webkit-box-orient: horizontal;
}
.top-nav-item{
    width: 20%;
    -webkit-box-flex: 1;
    display: flex;
    flex-direction:column;
    flex-wrap:nowrap;
    justify-content:center;
    align-items:center;
    align-content:center;
}
.top-nav-item img{
    widows: 30px;
    height: 30px;
}
.top-nav-item span{
    margin-top: 7px;
}

.nav-show-ceng{
    display: flex;
    flex-direction:row;
    flex-wrap:nowrap;
    align-items:center;
    align-content:center;
    position: relative;
}
.nav-show-ceng i{
    display: inline-block;
    width: 0px;
    margin-top: 12px;
    margin-left: 4px;
    border: 6px solid;
    border-color: #FFF transparent transparent transparent;
}
/* 展开 */
.top-nav-more-i{    
    margin-top:0 !important;
    border-color: transparent transparent #FFF transparent !important;
}

.top-nav-line{
    display: block;
    height: 50px;
    width: 1px;
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.3);
}

.main-footer{
    background-color: #333333;
    /* min-height: 200px; */
}
.foot-up{
    /* min-height: 120px; */
    border-bottom: 1px solid #797979;
}
.foot-up-nav{
    height: 50px;
    line-height: 50px;
    margin: 10px;
    border-bottom: 1px solid #797979;
    display: flex;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content:space-between;
    align-items:center;
    align-content:center;
    font-size: 14px;
}
.foot-up-nav a{
    color: rgba(255, 255, 255, 0.7);
}

.foot-up-con{
    padding: 0 10px;
    line-height: 25px;
    padding-bottom: 10px;
}
.foot-up-con span{
    display: block;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
}

.foot-down{
    line-height: 20px;
    padding: 10px;
}
.foot-down p{
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
}